<app-header></app-header>
<main>
<h2>Detalhes</h2>
<div class="detalhes">
  <div>
    <img src="https://i.imgur.com/KFRWLoV.jpg" alt="...">
    <ul>
      <li>Peso:<span>0</span></li>
      <li>Carboidrato:<span>0</span></li>
      <li>Proteínas:<span>0</span></li>
      <li>Sódio:<span>0</span></li>
      <li>Fíbra:<span>0</span></li>
      <li>Valor Energético:<span>0</span></li>
      <li>Gordura Trans:<span>0</span></li>
      <li>Gordura Saturada:<span>0</span></li>
      <li>Gordura Total:<span>0</span></li>
    </ul>
  </div>

  <div class="info">
    <span>00/00/00</span>
    <h3>Arroz com Bife</h3>
    <p>Arroz com acompanhamento de (Bife ou Frango), salada e batata frita.</p>
  </div>
</div>
</main>